p{
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
}
.about-container{
    padding: 15px;
    background-color: #eaac8b;
    -webkit-box-shadow: 1px 6px 13px 0px rgba(0,0,0,0.39); 
    box-shadow: 1px 6px 13px 0px rgba(0,0,0,0.39);
}